# Frontend
frontend/node_modules/
frontend/.nuxt/
frontend/.output/
frontend/.data/

# Backend
backend/bin/
backend/coverage.out
backend/data/
backend/*.db
backend/*.db-shm
backend/*.db-wal

# Environment
.env
.env.*
!.env.example

# IDE / OS
.idea/
.vscode/
.DS_Store
frontend/artifacts/*
frontend/coverage/*
data/*
screenshots/*